*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

html{scroll-behavior: smooth;}
body{
    display: flex;
    flex-direction: column;
    background-image:radial-gradient(white,steelblue);
    min-height: 100vh;
}

header,main,footer,nav{
    display:grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header,footer{
    position: sticky;
    background-color: #00f;
}

header{
    top: 0;
}

nav{
    background-color: aliceblue;
    color: black;
    padding: 0.5rem;
    border-bottom: 2px solid #f00;
    display: flex;
    justify-content: space-around;
}

nav a,nav a:visited{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover, nav a:focus{
    color: hsla(0, 0%, 20%, 0.5);
}

main{
    flex-grow: 1;
}
.card{
    scroll-margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    bottom: 0;
}

