@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
margin: 0;
padding:0;
box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}
section{
    height:100vh;
}
.blue{background-color:blue;}
.red{background-color:red;}
.green{background-color:green;}

header,footer {
    color:white;
    height:100px;
    text-align:center;
    
}
header{
    font-size: 5rem;
    position:sticky;
    top:0;       /*specify the top is very important when comes to sticky*/
}
footer {
    background-color:black;
    position:fixed;
    bottom:0;
    width: 100%;
    font-size: 3rem;
}
a:visited{
    color:aliceblue;
}

.social{
    background-color:blue;
    font-size:inherit;
    position:fixed;
    top:30%;
    left:0;
    z-index: 1;
}