nav{
    background-color: aquamarine;
    display: flex;
    height: 10vh;
    justify-content:space-around;
    align-items:center;
}
nav a{
    text-decoration: none;
    font-weight: 700;
}
nav a:any-link{
    color:#000;
    text-decoration:none;

}
/* nav a:hover ,nav:focus */
nav a:is(a:hover,a:focus)
{
    background-color: antiquewhite;
}
:is(header,.header){             /* class added to this line may be a blank no issue */
    background-color: rgb(0, 255, 13);    /*specificity will increase*/
}
header{
    background-color: blue;
}
.container{
    background-color: beige;
    margin: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem;
    border: 3px solid #000;
}

.container:target{
    border: 5px solid rgb(255, 0, 0);
}
.container:nth-child(2){
    background-color: cadetblue;
}
.container p {
    position: relative;
}

p::before{
    content: open-quote;
    position: absolute;
    font-size: 2em;
    top:-2px;
    left: -10px;
}
p::after{
    content: close-quote;
}
p::first-letter{
    font-size:2rem;
    color:#f00;
}
nav li::marker{
    color: red;
    font-size: 2rem;
}
::selection{
    background-color: rgb(238, 255, 0);
    color: rgb(0, 73, 137);
}