
*{
    border:3px ;
}

body{
    width:120vw;
    background: linear-gradient(#e66465, #9198e5);
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    /*  background: linear-gradient(45deg, blue, red);
     background: linear-gradient(45deg, red 0 50%, blue 50% 100%); */
/* background-image: url("https://images.pexels.com/photos/9969158/pexels-photo-9969158.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-repeat: no-repeat;
    background-size: cover; */
}

