*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font:1.5rem "sans-serief";
    min-height:100vh;
    background-image: radial-gradient(white,steelblue);
    display:flex;
    flex-direction: column;
}
header,nav,footer{
   display:grid; 
   grid-template-columns: 100%;
   place-content: center;
   text-align: center;
}

header,footer{
    position: sticky;
    background-color: blue;
    color: aliceblue;
}
header{
    top:0;
}
nav{
    background-color: black;
    border-bottom:4px solid red;
}
main{
   flex-grow: 1;
   display: flex;
   justify-content: space-around;
   align-items: center;

}
footer{
    bottom:0;
}
/* SMALL Above small devices*/
@media screen and (min-width:576px){
    body{
        background-color: green;
        background-image: radial-gradient(white,green);
    }
    nav{
        display:none;
    }
}

/*MEDIUM Above the tablet*/
@media screen and (min-width:768px){
    body{
        background-color:gold;
        background-image: radial-gradient(white,gold);
    }
}

/*Large Above the small laptop screen*/
@media screen and (min-width:992px){
    body{
        background-color: brown;
        background-image:radial-gradient(white,brown)
    }
}

/*Extra Large Above the desktop screen */
@media screen and (min-width:1200px){
    body{
        background-color: purple;
        background-image:radial-gradient(white,purple)
    }
}

/*Mobile device Landscape*/

@media screen and (max-height:425px) and (min-aspect-ratio:7/4){
    body{
        background-color: dodgerblue;
        background-image: radial-gradient(white,dodgerblue);
    }
    h1,h2{
        font-size:1.5rem;
    }
    nav{
        display: none;
    }
}
/*This part is for the :root and variables excercise*/

:root{
    --bg-color:bisque;
    --text-color:black;
}
@media (prefers-color-scheme:dark){
    :root{
        --bg-color:rgb(166, 91, 0);
        --text-color:rgb(255, 255, 255);
    }
}
main{
    flex-grow: 1;

    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: min(4vw,15px);
    flex-flow:row wrap;
 }
 .square{
     background-color: var(--bg-color);
     color: var(--text-color);
     width:min(20vw,150px);
     height:min(20vw,150px) ;
     display: grid;
     place-content: center;
     font-size: 3.5rem;
     border:2px solid rgb(0, 13, 255);
 }
 .highlight{
    --bg-color:aqua;
 }